# --- VERİTABANI (MySQL) AYARLARI ---
MYSQL_ROOT_PASSWORD=************
MYSQL_DATABASE=************
MYSQL_USER=************
MYSQL_PASSWORD=************
MYSQL_PORT=************

# --- BACKEND AYARLARI ---
# Not: Docker içinde 'db' servisine bağlanacağımız için host 'db' olmalı.
DB_URL=************
REDIS_URL=redis://cache:6379
SECRET_KEY=************

# --- E-POSTA (SMTP) AYARLARI ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=campushubthk@gmail.com
SMTP_PASS=************

# --- FRONTEND AYARLARI ---
VITE_API_URL=http://localhost:8000